body {
    background-color: #0E4C57;
}


.container {
    align-self: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login {
    padding-top: 3%;
}

.container-button-inicio {
    margin-bottom: 5%;
}

.container-button-registro {
    padding-bottom: 5%;
}

.container-login-verification-inputs {
    margin: 15%;
    margin-top: -5pt;
    margin-bottom: 5%;
}

.fondologo {
    width: 300pt;
    border-top-right-radius: 10pt;
    border-top-left-radius: 10pt;
}

.container-login-verification {
    background-color: #00797D;
    width: 300pt;
    border-bottom-right-radius: 10pt;
    border-bottom-left-radius: 10pt;
}