.container-op-selectpersona {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 20pt;
    margin-bottom: 20pt;
}

.container-op-flex {
    display: flex;
    margin-bottom: 15pt;
    margin-left: 10pt;
    margin-right: 10pt;
}